body {
	font-family: "helvetica";
	
}


.container {
	width:100%;
	max-width:700px;
	margin:50px auto;
	padding:0 4px;
}


.button_wrapper {
	text-align: left;
	margin-bottom: 35px;
	button {
		background:#000;
		color:#fff;
		border:none;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		padding:8px 20px;
		margin-bottom: 4px;
		transition: all .2s ease-in-out;
		cursor: pointer;
		&:hover {
			background:#ed1d24;
		}
	}
	button#clearall {
		background:grey;
		&:hover {
			background:#ed1d24;
		}
	}
	button.active {
		background:#ed1d24;
	}
}



#box {
	margin-bottom:25px;
	line-height: 22px;
	img {
		display: block;
		margin-top:20px;
		margin-bottom:30px;
		max-width:100%;
		height:auto;
	}
	h2 {
		margin-bottom:9px;
		font-size:20px;
	}
	p {
		margin-bottom:25px;
	}
}